<div class="card">

    <div class="card-block">
        <h3 class="card-title">Datos Personales</h3>

        <form class="form-inline">
            <label class="sr-only" for="Nombre">Nombre</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="Nombre" placeholder="Nombre">

            <label class="sr-only" for="Apellido">Apellido</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="Apellido" placeholder="Apellido">

            <label class="sr-only" for="Telefono">Telefono</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="Telefono" placeholder="Telefono">

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>