<div class="col-xs-12 col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            Diamante</h3>
        </div>
        <div class="panel-body">
          <div class="the-price">
            <h1>
              $1899<span class="subscript">/mes</span></h1>
            <small>1 mes de prueba GRATIS</small>
          </div>
          <table class="table">
            <tr>
              <td>
                Publicaci&oacute;nes Ilimitadas
              </td>
            </tr>
            <tr class="active">
              <td>
                10 Usuarios
              </td>
            </tr>
            <tr>
              <td>
                Renovaci&oacute;n Autom&aacute;tica
              </td>
            </tr>
            <tr class="active">
              <td>
                500MB Storage
              </td>
            </tr>
            <tr>
              <td>
                Soporte 24x7
              </td>
            </tr>
            <tr class="active">
              <td>
                Alertas
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Contratar</a> 1 mes GRATIS</div>
      </div>
    </div>