<div class="pricePanel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Bronce</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                $0<span class="subscript">/mes</span></h1>
                            <small>Ilimitado</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    1 Publicaci&oacute;n
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    1 Usuario
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Vencimiento en 30 d&iacute;as
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    1 Foto (LQ)
                                </td>
                            </tr>
                            <tr>
                                <td class="tachado">
                                    Soporte 24x7
                                </td>
                            </tr>
                            <tr class="tachado">
                                <td>
                                    Alertas
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Contratar</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Plata</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                $49<span class="subscript">/mes</span></h1>
                            <small>1 mes de prueba GRATIS</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    3 Publicaci&oacute;nes
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    1 Usuario
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Renovaci&oacute;n Autom&aacute;tica
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    5 Fotos (MQ)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Soporte 24x7
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Alertas
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="http://mpago.la/crzS" class="btn btn-success" role="button">Contratar</a> 1 mes GRATIS</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-success">
                    <div class="cnrflash">
                        <div class="cnrflash-inner">
                            <span class="cnrflash-label">Mas
                            <br>
                            Popular</span>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Oro</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                $119<span class="subscript">/mes</span></h1>
                            <small>1 mes de prueba GRATIS</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    10 Publicaci&oacute;nes
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    2 Usuarios
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Renovaci&oacute;n Autom&aacute;tica
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    10 Fotos (HD)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Soporte 24x7
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Alertas
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="http://mpago.la/s4Ra" class="btn btn-success" role="button">Contratar</a> 1 mes GRATIS</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Plantino</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                $529<span class="subscript">/mes</span></h1>
                            <small>1 mes de prueba GRATIS</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    50 Publicaci&oacute;nes
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    5 Usuarios
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Renovaci&oacute;n Autom&aacute;tica
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    20 Fotos (Full HD)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Soporte 24x7
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Alertas
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="http://mpago.la/AHK6" class="btn btn-success" role="button">Contratar</a> 1 mes GRATIS</div>
                </div>
            </div>

        </div>
        <div class="row">
            <a class="btn btn-lg btn-success" href="#" role="button">Necesitas m&aacute;s?</a>
        </div>
    </div>
</div>