<div class="form-group">
    <div class="card">
        <div class="card-block" *ngIf="propertyGroup" class="form-group" [formGroup]="propertyGroup">
            <h4 class="card-title">Ingresa fotos de tu Inmbueble</h4>
            <file-upload [class.errors]="images.hasError('*', ['dirty'])" formControlName="images" [ngModel]="publication.images.length" [files]="publication.images" (onUploadComplete)="publicationChange($event)" (onDeleteComplete)="publicationChange($event)" ngDefaultControl></file-upload>
            <div ngxErrors="images" #images="ngxErrors">
                <div class="error" ngxError="MinImages">
                    Al menos debe cargar una imagen
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Contanos como es el lugar</h4>
            <div *ngIf="propertyGroup" class="form-group" [formGroup]="propertyGroup">

                <label class="form-control-label" for="inputTitle">Titulo</label>
                <input type="text" name="title" formControlName="title" [class.errors]="title.hasError('*', ['dirty'])" class="form-control" [(ngModel)]='publication.title' (ngModelChange)="publicationChange($event)" />
                <div ngxErrors="title" #title="ngxErrors">
                    <div class="error" ngxError="required">
                        El Titulo es requerido
                    </div>
                    <div class="error" [ngxError]="['minlength', 'maxlength']">
                        El Titulo debe estar entre 5 y 50 digitos
                    </div>
                </div>
                <label class="form-control-label" for="inputTitle">Descripci&oacute;n</label>
                <ckeditor debounce="500" name="description" [class.errors]="description.hasError('*', ['dirty'])" formControlName="description" (ngModelChange)="publicationChange($event)" [(ngModel)]="publication.description" [config]="{removePlugins: 'forms, link, unlink, anchor, creatediv, insert, templates, newpage,save, preview, print, image, flash, horizontalrule, smiley, specialchar, pagebreak, iframe, about', removeButtons: 'Underline,JustifyCenter'}">
                </ckeditor>
                <div ngxErrors="description" #description="ngxErrors">
                    <div class="error" ngxError="required">
                        La Descripcion es requerida
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Ingresa la ubicaci&oacute;n</h4>
            <div class="row">
                <div class="col-md-6">
                    <div *ngIf="propertyGroup" class="form-group" [formGroup]="propertyGroup">
                        <label for="inputProvince">Provincia</label>
                        <select id="inputProvince" formControlName="province" [class.errors]="province.hasError('*', ['dirty'])" name="province" class="form-control" [(ngModel)]="publication.location.province">
                                <option *ngFor="let p of provinces" [ngValue]="p.code">{{p.description}}</option>
                        </select>
                        <div ngxErrors="province" #province="ngxErrors">
                            <div class="error" ngxError="required">
                                La Provincia es requerida
                            </div>
                        </div>

                        <label for="inputPlace">Localidad</label>

                        <ng-template #rt let-r="result" let-t="term">
                            {{ r.description}} - ({{ r.zip}})
                        </ng-template>
                        <input id="inputPlace" name="place" [class.errors]="place.hasError('*', ['dirty'])" formControlName="place" name="place" type="text" class="form-control" [editable]="false" [inputFormatter]="formatter" [resultTemplate]="rt" [(ngModel)]="selectedPlace"
                            (selectItem)="placeChange($event)" [ngbTypeahead]="searchLocation" />
                        <div ngxErrors="place" #place="ngxErrors">
                            <div class="error" ngxError="required">
                                La Localidad es requerida
                            </div>
                        </div>

                        <label for="inputStreet">Calle</label>
                        <input type="text" id="inputStreet" name="street" [class.errors]="street.hasError('*', ['dirty'])" formControlName="street" [(ngModel)]="publication.location.street" class="form-control" />
                        <div ngxErrors="street" #street="ngxErrors">
                            <div class="error" ngxError="required">
                                La Calle es requerida
                            </div>
                            <div class="error" [ngxError]="['minlength', 'maxlength']">
                                La Calle debe estar entre 2 y 20 digitos
                            </div>
                        </div>

                        <label class="form-control-label">Numero</label>
                        <input type="text" name="number" [class.errors]="number.hasError('*', ['dirty'])" formControlName="number" (change)="positioningMap()" [(ngModel)]="publication.location.number" class="form-control" />
                        <div ngxErrors="number" #number="ngxErrors">
                            <div class="error" ngxError="required">
                                El Numero es requerido
                            </div>
                            <div class="error" [ngxError]="['minlength', 'maxlength']">
                                El Numero debe estar entre 2 y 10 digitos
                            </div>
                            <div class="error" ngxError="pattern">
                                Solo deben ingresarse caracteres numericos
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <agm-map [zoom]="16" [latitude]="publication.location.latitude" [longitude]="publication.location.longitude">
                        <agm-marker [latitude]="publication.location.latitude" [longitude]="publication.location.longitude" [iconUrl]="'/images/marker.png'" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Detalle del Inmbueble</h4>
            <div class="row">
                <div class="col-lg-4">
                    <label for="capacidad">Capacidad <small>(Cuantas personas entran en el lugar?)</small></label>
                    <input type="numeric" id="capacidad" (change)="publicationChange($event)" class="form-control" />
                    <label for="banos">Ba&ntilde;os</label>
                    <input type="numeric" id="banos" (change)="publicationChange($event)" class="form-control" />
                </div>
                <div class="col-lg-4">
                    <label for="superficie">Superficie cubierta <small>(m2)</small></label>
                    <input type="numeric" id="superficie" (change)="publicationChange($event)" class="form-control" />
                    <label for="piso">Piso</label>
                    <input type="numeric" id="piso" (change)="publicationChange($event)" class="form-control" />
                </div>
                <div class="col-lg-4">

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Con que comodidades cuenta?</h4>
            <div *ngFor="let f of facilitiesTypes" class="facility">
                <ui-switch [name]="f.model" [(ngModel)]="publication.facilities[f.model]" (ngModelChange)="publicationChange($event)"></ui-switch>{{f.description}}
            </div>
        </div>
    </div>
</div>