<div class="form-group">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Ingresa fotos de tu Inmbueble</h4>
            <image-upload [buttonCaption]="'Seleccionar Imagenes'" [dropBoxMessage]="'O arrastralas ac&aacute;!'"></image-upload>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Contanos como es el lugar</h4>
            <div class="row">
                <div class="col-md-1"><label>Titulo:</label></div>
                <div class="col-md-11"><input type="text" [(ngModel)]="publication.title" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ckeditor debounce="500" [(ngModel)]="publication.description" [config]="{removePlugins: 'forms, link, unlink, anchor, creatediv, insert, templates, newpage,save, preview, print, image, flash, horizontalrule, smiley, specialchar, pagebreak, iframe, about', removeButtons: 'Underline,JustifyCenter'}">
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Ingresa la ubicaci&oacute;n</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="provincia">Provincia</label>
                            <select id="provincia" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="localidad">Localidad</label>
                            <select id="localidad" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="barrio">Barrio</label>
                            <select id="barrio" class="form-control"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <label for="calle">Calle</label>
                            <input type="text" id="calle" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="numero">Numero</label>
                            <input type="numeric" id="numero" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <sebm-google-map [zoom]="16" [latitude]="lat" [longitude]="lon">
                    </sebm-google-map>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Detalle del Inmbueble</h4>
            <label for="banos">Ba&ntilde;os</label>
            <input type="numeric" id="banos" class="form-control" />

            <label for="superficie">Superficie cubierta <small>(m2)</small></label>
            <input type="numeric" id="superficie" class="form-control" />

            <label for="piso">Piso</label>
            <input type="numeric" id="piso" class="form-control" />
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Con que comodidades cuenta?</h4>
            <div class="row">
                <div class="col-lg-4">
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.internet"></ui-switch> Internet
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.airconditioning"></ui-switch> Aire acondicionado
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.elevator"></ui-switch> Ascensor
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.heating"></ui-switch> Calefacci&oacute;n
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.reception"></ui-switch> Recepci&oacute;n
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.security"></ui-switch> Seguridad
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.powerunit"></ui-switch> Grupo Electrogeno
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.phone"></ui-switch> Telefono
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.gas"></ui-switch> Gas Natural
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.water"></ui-switch> Agua Corriente
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.lobby"></ui-switch> Sala de Espera
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.buffet"></ui-switch> Cafeteria
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.ramp"></ui-switch> Rampa de acceso
                    </p>
                    <p>
                        <ui-switch [(ngModel)]="publication.facilities.openingtothestreet"></ui-switch> Apertura puerta de calle
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>