<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active">
                                <a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                            </li>
                            <li>
                                <a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                            </li>
                            <li>
                                <a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                            </li>
                            <li>
                                <a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                            </li>
                            <li>
                                <a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                            </li>
                        </ul>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{property.title}}</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">41 rese&ntilde;as</span>
                        </div>
                        <p class="product-description">Amplia sala ubicada en la zona de puerto madero.</p>
                        <h4 class="price">Precio: <span>${{property.price}}</span></h4>
                        <p class="vote"><strong>91%</strong> de personas le gusto este lugar! <strong>(87 votos)</strong></p>
                        <h5 class="sizes">Tama&ntilde;o:
                            <span class="size" data-toggle="tooltip" title="Metros Cuadrados">40 m2</span>
                        </h5>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">Contratar</button>
                            <button class="btn btn-danger" type="button"><span class="fa fa-heart"></span></button>
                            <button class="btn btn-primary" type="button"><span class="fa fa-pencil-square-o"></span></button>
                            <button class="btn btn-info" type="button"><span class="fa fa-share-alt"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" height="200" width="320" src="http://cdn.newsapi.com.au/image/v1/0a0ceda4bda18e664ffac1a8fa86a7d1" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Dirección: </h4>
                <p class="card-text">
                    Cecilia Grierson 445
                </p>
                <p class="card-text">
                    Capital Federal, Buenos Aires
                </p>
                <p class="card-text">
                    Móvil: 1555555555
                </p>
                <p class="card-text">
                    Teléfono: 47555555
                </p>
                <p class="card-text">
                    <a href="http://www.pepe.com">http://www.pepe.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Descripcion</h4>
                <p class="card-text" [innerHTML]="property.description">
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <calendar></calendar>
        </div>
    </div>
</div>