<div #main class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-off" [ngClass]="_sizeClass"
    (click)="toggleStatus()">
    <div #container class="bootstrap-switch-container" [@statusChange]="_statusStr">
        <span #on class="bootstrap-switch-handle-on" [ngClass]="_onColor" [ngStyle]="{'min-width': _minWidth +'px'}">{{onText}}</span>
        <span #mid class="bootstrap-switch-label"></span>
        <span #off class="bootstrap-switch-handle-off " [ngClass]="_offColor">{{offText}}</span>
    </div>
</div>