<div class="card">
    <div class="card-block">
        <form #form="ngForm" (ngSubmit)="submitForm(form.value)" [formGroup]="formGroupSignout">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="inputMail">E-mail</label>
                    <input type="email" formControlName="email" required ngModel name="email" class="form-control" id="inputMail">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="inputContrasena">Contrase&ntilde;a</label>
                    <input name="password" required ngModel formControlName="password" name="password" class="form-control" promptLabel="Por favor ingrese una contrase&ntilde;a" weakLabel="Facil" type="password" pPassword />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="inputRepetirContrasena">Repetir Contrase&ntilde;a</label>
                    <input name="confirmpassword" required ngModel formControlName="confirmpassword" name="confirmpassword" class="form-control" type="password" pPassword />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrarme</button>
        </form>
    </div>
</div>