<div class="card" id="cardLogin">
    <div class="card-block">
        <form (ngSubmit)="submitForm(form.value)" #form="ngForm">
            <div class="form-group">
                <label for="exampleInputEmail1">E-mail</label>
                <input type="email" required ngModel name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Clave</label>
                <input type="password" ngModel name="password" class="form-control" id="exampleInputPassword1"> <a href="#">No la recuerdo</a>
            </div>
            <div class="form-check">
                <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Recordarme
        </label>
            </div>

            <div class="kpx_login">
                <div class="row kpx_row-sm-offset-3 kpx_socialButtons">
                    <div class="col-xs-12 col-sm-12">
                        <button type="submit" class="btn btn-md btn-block btn-primary">Ingresar</button>
                    </div>
                </div>
                <div class="row kpx_row-sm-offset-3 kpx_socialButtons">
                    <div class="offset-md-1 col-md-10">
                        <div>
                            <a href="/auth/facebook" class="btn btn-md btn-block kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                            <a href="/auth/twitter" class="btn btn-md btn-block kpx_btn-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                            <a href="/auth/google" class="btn btn-md btn-block kpx_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
                                <i class="fa fa-google-plus fa-2x"></i>
                            </a>
                            <a href="/auth/linkedin" class="btn btn-md btn-block kpx_btn-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                            <a href="/auth/outlook" class="btn btn-md btn-block kpx_btn-windows" data-toggle="tooltip" data-placement="top" title="Windows">
                                <i class="fa fa-windows fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-block">
        No tenes cuenta? <a routerLink="/auth/signout">Registrate</a>
    </div>
</div>