<edit-property *ngIf="whatType=='Property'"></edit-property>
<edit-service *ngIf="whatType=='Service'"></edit-service>
<!--
    Cuando esten desarrollando los dos descomentarlo
    <edit-entreteinment *ngIf="whatType==3"></edit-entreteinment>
<edit-others *ngIf="whatType==4"></edit-others>-->
<publication-price></publication-price>
<publication-availability></publication-availability>

<div>
    <button class="btn btn-danger" type="button">Cancelar</button>
    <button class="btn btn-primary pull-right" (click)="onSaveChanges()" type="button">Guardar cambios</button>
</div>