<div class="modal-body">
    <div class="form-group">
        <label for="formReason">Raz&oacute;n de la reserva</label>
        <input type="text" class="form-control" id="formReason" aria-describedby="reasonHelp" place-holder="Razon de la reserva" [(ngModel)]="reservation.title">
        <small id="reasonHelp" class="form-text text-muted">Este mensage le llegara al due&ntilde;o de la publicaci&oacute;n.</small>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6 cod-lg-6">
                <label for="formReason">Desde</label>
                <date-time-picker [(date)]="reservation.startDate" (dateChange)="reservationChange()" placeholder="No Establecido">
                </date-time-picker>
            </div>
            <div class="col-md-6 cod-lg-6">
                <label for="formReason">Hasta</label>
                <date-time-picker [(date)]="reservation.endDate" (dateChange)="reservationChange()" placeholder="No Establecido">
                </date-time-picker>
            </div>
        </div>
    </div>
</div>