<div class="row" data-toggle="buttons">
    <div class="col-md-3">
        <main class="cardType btn btn-default active" (click)="onTypeClick(1)">
            <input type="radio" name="rent" >
            <h2>Inmuebles</h2>
            <div class="img-wrapper">
                <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" alt="Just Background">
            </div>
            <p class="detail">Oficina</p>
            <p class="detail">Consultorio</p>
            <p class="detail">Salon de Fiesta</p>
            <p class="detail">Salas de Reunion</p>

        </main>
    </div>
    <div class="col-md-3">
        <main class="cardType btn btn-default" (click)="onTypeClick(2)">
            <input type="radio" name="rent" >
            <h3>Servicios</h3>
            <div class="img-wrapper">
                <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" alt="Just Background">
            </div>
            <p class="detail">Maestra particular</p>
            <p class="detail">Programador</p>
        </main>
    </div>
    <div class="col-md-3">
        <main class="cardType btn btn-default" (click)="onTypeClick(3)">
            <input type="radio" name="rent" >
            <h4>Etretenimiento</h4>
            <div class="img-wrapper">
                <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" alt="Just Background">
            </div>
            <p class="detail">Metegol</p>
            <p class="detail">Inflables</p>
        </main>
    </div>
    <div class="col-md-3">
        <main class="cardType btn btn-default" (click)="onTypeClick(4)">
            <input type="radio" name="rent" >
            <h5>Otros</h5>
            <div class="img-wrapper">
                <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" alt="Just Background">
            </div>
            <p class="detail">Indumentaria</p>
            <p class="detail">Herramientas</p>
            <p class="detail">Vehiculos</p>
        </main>
    </div>
</div>