<div class="row" [formGroup]="whatGroup" *ngIf="whatGroup" data-toggle="buttons">
    <div [hidden]="whatSelected.type && whatSelected.type != pub.type" *ngFor="let pub of publicationTypes" class="col-md-3">
        <main class="cardType btn btn-default" (click)="onTypeClick(pub.type)">
            <input type="radio" name="rent">
            <h2><i *ngIf="whatSelected.type" class="fa fa-backward" aria-hidden="true"></i> {{ pub.title }}</h2>
            <div class="img-wrapper">
                <img class="rounded-circle" [src]="pub.image" [alt]="pub.title">
            </div>
        </main>
    </div>

    <div *ngIf="categories" class="col-md-3">
        <select size="14" name="category" formControlName="category" [(ngModel)]="whatSelected.category" (ngModelChange)="onCategorySelected($event)" class="form-control">
            <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.description}}</option>
        </select>
    </div>
</div>