<div class="well well-sm">
    <div class="row" id="post-review-box">
        <div class="col-md-12">
            <form accept-charset="UTF-8" (ngSubmit)="saveReview(); form.reset()" #form="ngForm">
                <input id="ratings-hidden" name="rating" type="hidden" value="3">
                <textarea class="form-control animated" [(ngModel)]="review.message" cols="50" id="new-review" name="comment" placeholder="Ingrese aqui su comentario..." rows="5"></textarea>
                <div class="text-right">
                    <ngb-rating [(rate)]="review.score" max="5">
                        <template let-fill="fill">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </template>
                    </ngb-rating>
                    <hr />
                    <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="margin-right: 10px;">
                        <span class="glyphicon glyphicon-remove"></span>Cancelar</a>
                    <button class="btn btn-success btn-lg" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>