<ngb-carousel [interval]="10000" *ngIf="reviews.length > 0">
    <template ngbSlide *ngFor="let review of reviews; let i = review">
        <blockquote class="form-inline">
            <div class="form-group">
                <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">
            </div>

            <div class="form-group">
                <p>{{ review.message }}</p>
                <small class="form-text text-muted">{{ review.user.name }}</small>
            </div>

        </blockquote>
    </template>
</ngb-carousel>