<div class="row">
    <div class="col-md-8 col-lg-12">
        <div class="card">
            <div class="card-block">
                <div class="well well-sm">
                    <div class="row" id="post-review-box">
                        <div class="col-md-12">
                            <form accept-charset="UTF-8" action="" method="post">
                                <input id="ratings-hidden" name="rating" type="hidden" value="3">
                                <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Ingrese aqui su comentario..." rows="5"></textarea>
                                <div class="text-right">
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="margin-right: 10px;">
                                        <span class="glyphicon glyphicon-remove"></span>Cancelar</a>
                                    <button class="btn btn-success btn-lg" type="submit">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>