<ngb-carousel [interval]="10000">
    <template ngbSlide>
        <blockquote>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                    <p>Lugar muy amplio, muy bien cuidado</p>
                    <small>Marcos Panichella</small>
                </div>
            </div>
        </blockquote>
    </template>
    <template ngbSlide>
        <blockquote>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                    <p>Bastante espacioso y muy luminoso</p>
                    <small>Leonardo Ruggieri</small>
                </div>
            </div>
        </blockquote>
    </template>
</ngb-carousel>