@import "../_custom.scss";
.card {
    background: $gray-lightest;
    padding: 10px;
    line-height: 1.5em;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars {
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}