<div class="mt-5">
    <div class="container-fluid bg-faded mt-5">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-4">
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <a class="bg-circle" href="#">
                                <i class="fa fa-2x fa-fw fa-laptop" aria-hidden="true "></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Uso de Cookies</h4>
                            <p class=" ">Nosotros usamos <a class=" " href="/# ">cookies </a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <a class="bg-circle" href="#">
                                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Contactanos</h4>
                            <p>por que no?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <a class="bg-circle" href="https://twitter.com/ ">
                                <i class="fa fa-2x fa-fw fa-info" aria-hidden="true "></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Ayuda</h4>
                            Busca lo que necesitas.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid bg-primary py-3">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-9">
                    <p class="text-white">Tundide.</p>
                </div>
                <div class="col-md-3">
                    <div class="d-inline-block">
                        <div class="bg-circle-outline d-inline-block">
                            <a href="https://www.facebook.com/" class="text-white"><i class="fa fa-2x fa-fw fa-facebook"></i></a>
                        </div>

                        <div class="bg-circle-outline d-inline-block">
                            <a href="https://twitter.com/" class="text-white">
                                <i class="fa fa-2x fa-fw fa-twitter"></i></a>
                        </div>

                        <div class="bg-circle-outline d-inline-block">
                            <a href="https://www.linkedin.com/tundide/" class="text-white">
                                <i class="fa fa-2x fa-fw fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>