$white: #fff;
$black: #000;
$red: #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green: #5cb85c;
$green-light: #d9e506;
$blue: #0275d8;
$teal: #5bc0de;
$pink: #ff5b77;
$purple: #613d7c;
$brown: #c68143;
// Create grayscale
$gray-dark: #689550;
$gray: #85c446;
$gray-light: #c0de9e;
$gray-lighter: #e2f0da;
$gray-lightest: #f1f8ed;
// Reassign color vars to semantic color scheme
$brand-primary: #689550;
$brand-success: $green;
$brand-info: $green-light;
$brand-warning: $orange;
$brand-danger: $red;
$brand-inverse: $gray-dark;
$navbar-inverse-color: $gray-lightest;