$white: #fff;
$black: #000;
$red: #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green: #FC9F6A;
$green-light: #E5DB8C;
$blue: #0275d8;
$teal: #5bc0de;
$pink: #ff5b77;
$purple: #613d7c;
$brown: #c68143;
// Create grayscale
$gray-dark: #5D4157;
$gray: #838689;
$gray-light: #A8CABA;
$gray-lighter: #CAD7B2;
$gray-lightest: #EBE3AA;
// Reassign color vars to semantic color scheme
$brand-primary: #689550;
$brand-success: $green;
$brand-info: $teal;
$brand-warning: $orange;
$brand-danger: $red;
$brand-inverse: $gray-dark;
$navbar-inverse-color: $gray-lightest;