<form action="" method="post" id="pay" name="pay">
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input id="email" class="form-control" name="email" value="mpanichella@live.com" type="email" placeholder="your email" />
        </div>
    </div>
    <div class="form-group row">
        <input type="hidden" name="paymentMethodId" />
        <label for="cardNumber" class="col-sm-2 col-form-label">Numero:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="cardNumber" data-checkout="cardNumber" placeholder="4509 9535 6623 3704" />
        </div>
        <label for="securityCode" class="col-sm-2 col-form-label">Codigo de seguridad:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="securityCode" data-checkout="securityCode" placeholder="123" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Fecha de vencimiento:</label>
        <div class="col-sm-8 form-inline">
            <input type="text" class="form-control" id="cardExpirationMonth" data-checkout="cardExpirationMonth" placeholder="12" />
            <input type="text" class="form-control" id="cardExpirationYear" data-checkout="cardExpirationYear" placeholder="2050" />
        </div>
    </div>
    <label for="cardholderName">Nombre del titular:</label>
    <input type="text" class="form-control" id="cardholderName" data-checkout="cardholderName" placeholder="Titular" />

    <label for="docType">Tipo de documento:</label>
    <select id="docType" class="form-control" data-checkout="docType"></select>

    <label for="docNumber">Numero de documento:</label>
    <input type="text" class="form-control" id="docNumber" data-checkout="docNumber" placeholder="12345678" />

    <input type="submit" class="btn btn-primary" value="Pagar!" />
</form>