.card {
    margin: 5px;
}

.checked,
.price span {
    color: #ff9f1a;
}

.thumbnail {
    margin: 5px;
    display: inline-block;
    background-size: cover;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    border: 2px solid darkgray;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}