.container { margin-top: 20px; }

.mb20 { margin-bottom: 20px; } 

div .hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
div .hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
div .hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }