<div class="row">
    <div class="col-md-2">
        <sebm-google-map [latitude]="51.678418" [longitude]="7.809007">
            <sebm-google-map-marker [latitude]="51.678418" [longitude]="7.809007"></sebm-google-map-marker>
        </sebm-google-map>
    </div>

    <div class="col-md-10">
        <div class="container">

            <div class="hgroup mb20">
                <h1>Resultado de la busqueda</h1>
                <h2 class="lead">Se encontraron <strong class="text-danger">{{publications.length}}</strong> resultados con la palabra <strong class="text-danger">"{{stringBuscado}}"</strong></h2>
            </div>

            <result *ngFor="let pub of publications; let i = pub" [publication]="pub"></result>
        </div>
    </div>
</div>