<div class="row">
    <div class="col-md-4">
        <sebm-google-map [zoom]="16" [latitude]="lat" [longitude]="lon">
            <sebm-google-map-marker *ngFor="let pub of publications; let i = pub" [latitude]="lat" [longitude]="lon" [markerDraggable]="false">
            </sebm-google-map-marker>
        </sebm-google-map>
    </div>

    <div class="col-md-8">
        <div class="container">

            <div class="hgroup mb20">
                <h1>Resultado de la busqueda</h1>
                <h2 class="lead">Se encontraron <strong class="text-danger">{{publications.length}}</strong> resultados con la palabra <strong class="text-danger">"{{stringBuscado}}"</strong></h2>
            </div>

            <result *ngFor="let pub of publications; let i = pub" [publication]="pub"></result>
        </div>
    </div>
</div>