<div class="jumbotron">
    <h1 class="display-3">Tu mundo en horas</h1>
    <p class="lead">Una forma simple y rapida de alquilar lo que necesitas por hora.</p>
    <hr class="my-4">
    <div class="row justify-content-md-center">
        <form class="form-inline" #f="ngForm" [formGroup]="formGroupSearch" (ngSubmit)="search(); f.reset()">
            <select formControlName="type" [(ngModel)]="selectedType" name="type" class="form-control form-control-lg mb-2 mr-sm-2 mb-sm-0" (ngModelChange)="onTypeSelected($event)">
                <option [value]="type.id" *ngFor="let type of types">{{type.title}}</option>
            </select>
            <select *ngIf="categories" formControlName="category" [(ngModel)]="selectedCategory" name="category" class="form-control form-control-lg mb-2 mr-sm-2 mb-sm-0">
                <option [value]="category.id" *ngFor="let category of categories">{{category.description}}</option>
            </select>
            <input type="text" formControlName="search" [(ngModel)]="searchWord" placeholder="Ubicaci&oacute;n ej: General San Mart&iacute;n" class="form-control form-control-lg mb-2 mr-sm-2 mb-sm-0" />
            <button class="btn btn-default my-2 my-sm-0" [disabled]="!formGroupSearch.valid" type="submit">Buscar</button>
        </form>
    </div>
</div>